/* Estilos para a página administrativa, simples com foco em ser uma tela de administração*/

/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #05090D;
    color: #f1f1f1;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
}

main {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #ccc;
}

/* Estilos do formulário administrativo */
.admin-form {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.admin-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-form input,
.admin-form textarea,
.admin-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
}

.admin-form select {
    max-width: 200px;
}

.admin-form button {
    width: 80px;
    background-color: #AEF249;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.admin-form button:hover {
    background-color: #00cc6e;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #333;
}

th {
    background-color: #AEF249;
    color: #000;
}

tr:hover {
    background-color: #2a2a2a;
}

/* Estilos das ações */
.btn-acao {
    width: 90px;
    text-align: center;
}

.actions {
    display: flex;
    gap: 10px;
    height: 100%;
}

.actions a,
.actions button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.actions a:hover,
.actions button:hover {
    background-color: #666;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
    color: #555;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .admin-form input,
    .admin-form textarea,
    .admin-form select {
        font-size: 1rem;
    }

    th, td {
        font-size: 0.9rem;
    }

    .actions {
        flex-direction: column;
    }
}
